@font-face {
    font-family: Poppins-Regular;
    src: url(../src/assets/fontes/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Extralight;
    src: url(../src/assets/fontes/Poppins/Poppins-ExtraLight.ttf);
}

body{
    margin: 0;
    font-family: Poppins-Regular;
}
